<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Pages / Register - NiceAdmin Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
</head>

<body>

  <main>
    <div class="container">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="d-flex justify-content-center py-4">
                <a href="index.html" class="logo d-flex align-items-center w-auto">
                  <img src="assets/img/plantaLg.png" alt="">
                  <span class="d-none d-lg-block">Agronomo</span>
                </a>
              </div><!-- End Logo -->

              <div class="card mb-3">

                <div class="card-body" id="app">

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Crea tu cuenta</h5>
                    <p class="text-center small"></p>
                  </div>

                  <div class="row g-3 needs-validation">
                    <div class="col-12">
                      <label for="yourNumControl" class="form-label">Numero de control</label>
                      <input type="text" v-model="numeroControl" name="numControl" class="form-control" id="yourName"
                        required>
                      <div class="invalid-feedback">Please, enter your name!</div>
                    </div>

                    <div class="col-12">
                      <label for="yourName" class="form-label">Nombre</label>
                      <input type="text" v-model="nombre" name="name" class="form-control" id="yourName" required>
                      <div class="invalid-feedback">Please, enter your name!</div>
                    </div>

                    <div class="col-12">
                      <label for="yourAPaterno" class="form-label">Apellido Paterno</label>
                      <input type="text" v-model="apellidoPaterno" name="APaterno" class="form-control" id="yourName"
                        required>
                      <div class="invalid-feedback">Please, enter your name!</div>
                    </div>

                    <div class="col-12">
                      <label for="yourAMaterno" class="form-label">Apellido Materno</label>
                      <input type="text" v-model="apellidoMaterno" name="AMaterno" class="form-control" id="yourName"
                        required>
                      <div class="invalid-feedback">Please, enter your name!</div>
                    </div>

                    <div class="col-12">
                      <label for="yourEmail" class="form-label">Contraseña</label>
                      <input type="password" v-model="contraseña" name="password" class="form-control" id="yourEmail"
                        required>
                      <div class="invalid-feedback">Please enter a valid Email adddress!</div>
                    </div>


                    <div class="col-12">
                      <label for="yourGrupo" class="form-label">Grupo</label>
                      <input type="text" v-model="grupo" name="grupo" class="form-control" id="yourPassword" required>
                      <div class="invalid-feedback">Please enter your password!</div>
                    </div>

                    <div class="col-12">
                      <label for="yourEquipo" class="form-label">Equipo</label>
                      <input type="text" v-model="equipo" name="equipo" class="form-control" id="yourPassword" required>
                      <div class="invalid-feedback">Please enter your password!</div>
                    </div>


                    <div class="col-12">
                      <button v-on:click="addAlumno()" class="btn btn-primary w-100">Registrarse</button>
                    </div>
                    <div class="col-12">
                      <p class="small mb-0">¿Ya tienes cuenta?<a href="login.html">Ingresa</a></p>
                    </div>
                    </form>

                  </div>
                </div>


              </div>
            </div>
          </div>

      </section>

    </div>
  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/chart.js/chart.umd.js"></script>
  <script src="assets/vendor/echarts/echarts.min.js"></script>
  <script src="assets/vendor/quill/quill.js"></script>
  <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>
<script src="https://cdn.jsdelivr.net/npm/axios@1.6.7/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script>
  var app = new Vue({
    el: '#app',
    data: {
      numeroControl: '',
      nombre: '',
      apellidoPaterno: '',
      apellidoMaterno: '',
      contraseña: '',
      grupo: '',
      equipo: ''
    },
    methods: {
      addAlumno: function () {
        let info = {
          "numeroControl": app.numeroControl,
          "contraseña": app.contraseña,
          "nombre": app.nombre,
          "apellidoPaterno": app.apellidoPaterno,
          "apellidoMaterno": app.apellidoMaterno,
          "correoElectronico": "",
          "telefono": "",
          "grupo": app.grupo,
          "equipo": app.equipo
        }
        axios.post('https://localhost:7070/api/Alumno', info)
          .then(function (response) {
            setTimeout(() => {
            window.location.href = 'index.html';
          }, 2000);
            console.log(response);
          })
          .catch(function (error) {
            console.log(error);
          });
      }
    }
  })
</script>

</html>